html {
  background: rgb(142, 175, 189);
}
h1 {
  letter-spacing: 3px;
  text-align: center;
  font-weight: 200;
}
body {
  background: white;
  width: 800px;
  margin: auto;
  padding: 50px;
  font-family: "Young Serif", serif;
  border-radius: 50px;
}
.images {
  text-align: center;
}
a {
  color: rgb(113, 113, 153);
}

a:hover {
  background-color: rgb(174, 180, 196);
}
p,
h2,
h1 {
  color: rgb(113, 113, 153);
}
ul,
li {
  color: rgb(113, 113, 153);
}
h2 {
  text-decoration: underline;
}
img {
  border-radius: 5%;
}
